<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Basic suite">
    <parameter name="pathToFile" value="src/test/resources/testData/data.xml"/>
    <parameter name="baseUri" value="https://jsonplaceholder.typicode.com"/>
    <test name="abc">
        <classes>
            <class name="sample.SampleTest"/>
        </classes>

    </test>
</suite>
